footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
}

label {
    color: white;
}

select {
    width: 150px !important;
}
.label {
    font-size: 16px;
    color: white;
}
.wrap-login100 {
    width: 450px!important;
}